<script src="{{ static('js/jquery/jquery.min.js') }}"></script>
<script src="{{ static('js/vendors/sfdc/canvas-all.js') }}"></script>
<script type="text/javascript">
  $(function(){
     Sfdc.canvas(function() {

    // Parse the signed request.
    var sr = JSON.parse('{{canvasRequestJSON|safe}}');
    // Save the token
    Sfdc.canvas.oauth.token(sr.oauthToken);
    console.log(Sfdc,sr)
    var query_resturl = sr.context.links.restUrl+'query/?q=select id from Account where isDeleted=true';
      console.log("calling this"+query_resturl);
    // Make an XHR call back to salesforce through the supplied browser proxy.
    Sfdc.canvas.client.ajax(query_resturl,
      {client : sr.client,
        success : function(data){
        // Make sure the status code is OK.
        console.log(data);
      }
    });
    });

       $.ajax("/get_bin_records/account").done(function(res){
        console.log('accounts')
            console.log(res)
       })

       $.ajax("/get_bin_records/contact").done(function(res){
          console.log('contacts')
          console.log(res)
       })

       $.ajax("/get_bin_records/lead").done(function(res){
          console.log('leads')
          console.log(res)
       })

       $.ajax("/get_bin_records/opportunity").done(function(res){
          console.log('oppty')
          console.log(res)
       })
  });
</script>
