<script src="{{ static('js/jquery/jquery.min.js') }}"></script>
<script src="{{ static('js/vendors/sfdc/canvas-all.js') }}"></script>
<script type="text/javascript">
  $(function(){
     Sfdc.canvas(function() {

    // Parse the signed request.
    var sr = JSON.parse('{{canvasRequestJSON|safe}}');
    // Save the token
    Sfdc.canvas.oauth.token(sr.oauthToken);
    
    var accounts_resturl = sr.context.links.restUrl+'sobjects/account';
      console.log("calling this"+accounts_resturl);
    // Make an XHR call back to salesforce through the supplied browser proxy. 
    Sfdc.canvas.client.ajax(accounts_resturl, 
      {client : sr.client,
        success : function(data){
        // Make sure the status code is OK.
        console.log(data);
      }
    });


    });
  });
</script>
