<!DOCTYPE html>
<html ng-app="sprb">
  <head>
    <script src="{{ static('js/vendors/jquery/jquery.min.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/js/tab.js') }}"></script>
    <script src="{{ static('js/vendors/bootstrap/js/modal.js') }}"></script>
    <script src="{{ static('js/vendors/angular/angular.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}" >
    <script type="text/javascript">
      $(function(){
         Sfdc.canvas(function() {

          // Parse the signed request.
          var sr = JSON.parse('{{canvasRequestJSON|safe}}');
          // Save the token
          Sfdc.canvas.oauth.token(sr.oauthToken);
          console.log(Sfdc,sr)
          //var query_resturl = sr.context.links.restUrl+'query/?q=select id from Account where isDeleted=true';
          //console.log("calling this"+query_resturl);
          // Make an XHR call back to salesforce through the supplied browser proxy.
          Sfdc.canvas.client.ajax(query_resturl,
            {client : sr.client,
              success : function(data){
              // Make sure the status code is OK.
              console.log(data);
            }
          });
          });

      });
    </script>
  </head>
     <body ng-controller="RecycleBinCtrl">
        <div class="container">
            <br/><br/>
            <p><img src="{{ static('img/logo.png') }}" alt="Super powered recycle bin" /></p>

            <!-- Tabs -->
            <ul class="nav nav-tabs" id="objTabs">
                 <li>
                    <a href="#all" data-toggle="tab">All</a>
                </li>
                <li ng-repeat="obj in objects">
                    <a href="#[{obj.Name}]" data-toggle="tab">[{obj.Name}]s</a>
                </li>
            </ul>

            <!-- Tabs Content -->
            <div class="tab-content">

                <!-- Per object tabs -->
                <div class="tab-pane" ng-repeat="obj in objects" id="[{obj.Name}]" >
                    <br/><br/>
                    <label>Filter:</label><input ng-model="searchText">
                    <br/><br/>
                    <table class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th class="col-md-2"></th>
                                <th class="col-md-2">
                                    <a href="" ng-click="predicate = 'Id'; reverse=false">Id</a>
                                    (<a href="" ng-click="predicate = '-Id'; reverse=false">^</a>)
                                </th>
                                <th>
                                    <a href="" ng-click="predicate = 'Name'; reverse=false">Name</a>
                                    (<a href="" ng-click="predicate = '-Name'; reverse=false">^</a>)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rec in obj.records | orderBy:predicate:reverse | filter:searchText">
                                <td class="text-center">
                                    <div class="btn-group">
                                       <button class="btn btn-xs btn-primary" ng-click="archive_item(this)" data-rec="[{rec}]" >Archive</button>
                                        <button class="btn btn-xs btn-success" ng-click="restore_item(this)" data-rec="[{rec}]">Restore</button>
                                    </div>
                                </td>
                                <td>[{rec.Id}]</td>
                                <td>[{rec.Name}]</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>

                </div>

                <!-- All records together -->
                <div class="tab-pane" id="all" >
                    <br/><br/>
                    <label>Filter:</label><input ng-model="searchText">
                    <br/><br/>

                    <table class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th class="col-md-2"></th>
                                <th class="col-md-2">
                                    <a href="" ng-click="predicate = 'Id'; reverse=false">Id</a>
                                    (<a href="" ng-click="predicate = '-Id'; reverse=false">^</a>)
                                </th>
                                <th>
                                    <a href="" ng-click="predicate = 'Name'; reverse=false">Name</a>
                                    (<a href="" ng-click="predicate = '-Name'; reverse=false">^</a>)
                                </th>
                                <th>
                                    <a href="" ng-click="predicate = 'obj_type'; reverse=false">Type</a>
                                    (<a href="" ng-click="predicate = '-obj_type'; reverse=false">^</a>)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rec in allrecords | orderBy:predicate:reverse | filter:searchText">
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-primary" ng-click="archive_item(this)" data-rec="[{rec}]">Archive</button>
                                        <button class="btn btn-xs btn-success" ng-click="restore_item(this)" data-rec="[{rec}]">Restore</button>
                                    </div>
                                </td>
                                <td>[{rec.Id}]</td>
                                <td>[{rec.Name}]</td>
                                <td>[{rec.obj_type}]</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>

                </div>
            </div>
        <!-- Modal -->
          <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center">Loading...</p>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

        </div>



      <script type="text/javascript">

            var app = angular.module('sprb', []);
                app.config(function($interpolateProvider) {
                  $interpolateProvider.startSymbol('[{');
                  $interpolateProvider.endSymbol('}]');
            });

            $(function(){});

            function RecycleBinCtrl($scope) {

                $('#loading').modal('show');

                $scope.objects = [];
                $scope.allrecords = [];

                $scope.loaded_accounts = $.Deferred();
                $scope.loaded_contacts = $.Deferred();

                $scope.archive_item = function(a){
                    $('#loading').modal('show');

                    // rec data
                    var rec_data = a.this.rec;
                    console.log('archive item',rec_data);
                    $.post('/api/archive',rec_data).done(function(res){
                        if(res.success){
                            $scope.refreshCollections();
                        } else {
                            alert('Error found!');
                            $('#loading').modal('hide');
                        }
                    })

                }

                $scope.restore_item = function(a){
                    $('#loading').modal('show');

                    // rec data
                    var rec_data = a.this.rec;

                    console.log('restore item',rec_data);
                    $.post('/api/restore',rec_data).done(function(res){
                        console.log(res,'restored?')
                        if(res.success){
                            $scope.refreshCollections();
                        } else {
                             alert('Error found!');
                            $('#loading').modal('hide');
                        }
                    })
                }

                $scope.refreshCollections = function(){


                    $scope.objects = []
                    $scope.allrecords = []

                    $.ajax("/get_bin_records/account").done(function(res){
                        var account_obj = {};
                        account_obj.Name = 'Account';
                        account_obj.records = JSON.parse(res);
                        $scope.objects.push(account_obj);
                        $scope.allrecords.push.apply($scope.allrecords,account_obj.records);
                        $scope.$apply();
                        $scope.loaded_accounts.resolve();
                     })

                     $.ajax("/get_bin_records/contact").done(function(res){
                        var contact_obj = {};
                        contact_obj.Name = 'Contact';
                        contact_obj.records = JSON.parse(res);
                        $scope.objects.push(contact_obj);
                        $scope.allrecords.push.apply($scope.allrecords,contact_obj.records);
                        $scope.$apply();
                        $scope.loaded_contacts.resolve();
                     })


                     // when all collections are ready, hide loader, show tabs
                     $.when($scope.loaded_accounts,$scope.loaded_contacts).done(function(){
                        $("#objTabs a:first").tab('show');
                        $('#loading').modal('hide');
                     });

                }

                $scope.refreshCollections();



            }
        </script>
    </body>
</html>